.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 770px;
  background-color: $cl-bg-basic-gray;

  &__title {
    padding-top: 33px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
  }

  &__subtitle {
    padding-bottom: 33px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  &__price {
    width: 100%;
    padding: 19px 0;
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
  }

  &__description {
    padding: 40px 26px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  &__options-list {
    width: 100%;
    list-style-type: none;
  }

  &__options-item {
    position: relative;
    padding: 16px 0 16px 59px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    &:nth-last-child(even) {
      background-color: $cl-bg-basic-dark-gray;
    }
  }

  &__order-btn {
    width: 154px;
    height: 40px;
    margin-top: 39px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 20px;
    border: none;
    color: $cl-txt-basic-white;

    &:hover {
      cursor: pointer;
    }
  }
}
