@import 'variables.scss';
@import 'card.scss';
@import 'modifier.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: $cl-txt-basic-white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $cl-bg-black;
}

.container {
  display: flex;
}
