.basic {
  &__price-bg {
    background-color: $cl-bs-green;
  }
}

.business {
  position: relative;
  overflow: hidden;
  margin: 0 18px;

  &__price-bg {
    background-color: $cl-bs-blue;
  }
}

.webshop {
  &__price-bg {
    background-color: $cl-bs-orange;
  }
}

.btn {
  &_green {
    background-color: $cl-bs-green;
  }

  &_blue {
    background-color: $cl-bs-blue;
  }
  &_orange {
    background-color: $cl-bs-orange;
  }
}

.mark {
  position: absolute;
  top: 18px;
  left: 22px;

  &_green {
    content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
  }

  &_blue {
    content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
  }

  &_orange {
    content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
  }
}

.marker-block {
  width: 147px;
  height: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  background-color: $cl-bg-marker-red;
}

.marker {
  top: 30.6px;
  right: -30.4px;
  position: absolute;
  transform: rotate(45deg);
}
