$cl-txt-basic-white: #ffffff;

$cl-bg-black: #141b1c;
$cl-bg-basic-gray: #334247;
$cl-bg-basic-dark-gray: #2a3438;
$cl-bg-marker-red: #dc3f45;

$cl-bs-green: #5bb189;
$cl-bs-blue: #3a6ba5;
$cl-bs-orange: #ec632a;
